/*
If you want to add Responsive style your project just copy this stylesheet and add at the end of main stylesheet.
Or link this stylesheet after main stylesheet but it is not recomended. Because it genarates one more http request.

=================================================
            ## Responsive Style
=================================================
*/
/*
Base: 7765626b69640d0a
version:1.9

*/

.mobile, .ipad , .hidden-on-desktop{ display:none;}
.hidden-on-mobile, .hidden-on-ipad, .hidden-on-desktop {} 
.desktop { display:block;}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1023px) {
/*
## 960 Grid System Modified
*/

/* =Containers
--------------------------------------------------------------------------------*/
.container_12
{
        margin-left: auto;
        margin-right: auto;
        width: 738px;
}

/* =Grid >> Global
--------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 { box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }



/* =Grid >> 12 Columns
--------------------------------------------------------------------------------*/
.grid_1 {width: 5.20833%;}
.grid_2 {width: 13.5417%;}
.grid_3 {width: 21.8750%;}
.grid_4 {width: 30.2083%;}
.grid_5 {width: 38.5417%;}
.grid_6 {width: 46.8750%;}
.grid_7 {width: 55.2083%;}
.grid_8 {width: 63.5417%;}
.grid_9 {width: 71.8750%;}
.grid_10 {width: 80.2083%;}
.grid_11 {width: 88.5417%;}
.grid_12 {width: 96.8750%;}

	
.desktop, .mobile, .hidden-on-ipad { display:none;}
.ipad, .hidden-on-desktop, .hidden-on-mobile { display:block;}
img { max-width:100%; height:auto;}
.base-width { max-width:748px; width:748px; }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen  
and (max-width : 767px) {
/*
## 960 Grid System Modified
*/

/* =Containers
--------------------------------------------------------------------------------*/
.container_12
{
        margin-left: auto;
        margin-right: auto;
        width: auto;
		max-width:450px;
}

/* =Grid >> Global
--------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 { box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }

/* =Grid >> 12 Columns
--------------------------------------------------------------------------------*/
.grid_1 {width: 5.20833%;}
.grid_2 {width: 13.5417%;}
.grid_3,
.grid_4,
.grid_5 ,
.grid_6 ,
.grid_7,
.grid_8 ,
.grid_9,
.grid_10,
.grid_11 ,
.grid_12 
 {width: 100%; box-sizing:border-box; -moz-box-sizing:border-box;}	
.desktop, .ipad, .hidden-on-mobile { display:none;}
.mobile, .hidden-on-desktop { display:block;}
img { max-width:100%; height:auto;}
.base-width { max-width:480px; width:auto; padding:0 15px;}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}


/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-pixel-ratio : 1.5),
only screen and (min-pixel-ratio : 1.5) {
/* Styles */
}














