/*
1044px grid system ~ Core CSS.
12 Columns ~ Margin left: 15px ~ Margin right: 15px

Based on the 960.gs grid system - http://960.gs/
by Nathan Smith

Created by the Grid System Generator - v1.04
Learn more ~ http://www.gridsystemgenerator.com/
*/

/*
Forces backgrounds to span full width,
even if there is horizontal scrolling.
Increase this if your layout is wider.

Note: IE6 works fine without this fix.
*/


/* =Containers
--------------------------------------------------------------------------------*/
.container_12
{
	margin-left: auto;
	margin-right: auto;
	width: 1044px;
}

/* =Grid >> Global
--------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	display: inline;
	float: left;
	margin-left: 15px;
	margin-right: 15px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11 {
	position: relative;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* =Grid >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .grid_1 {width: 57px;}
.container_12 .grid_2 {width: 144px;}
.container_12 .grid_3 {width: 231px;}
.container_12 .grid_4 {width: 318px;}
.container_12 .grid_5 {width: 405px;}
.container_12 .grid_6 {width: 492px;}
.container_12 .grid_7 {width: 579px;}
.container_12 .grid_8 {width: 666px;}
.container_12 .grid_9 {width: 753px;}
.container_12 .grid_10 {width: 840px;}
.container_12 .grid_11 {width: 927px;}
.container_12 .grid_12 {width: 1014px;}

/* =Prefix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .prefix_1 {padding-left: 87px;}
.container_12 .prefix_2 {padding-left: 174px;}
.container_12 .prefix_3 {padding-left: 261px;}
.container_12 .prefix_4 {padding-left: 348px;}
.container_12 .prefix_5 {padding-left: 435px;}
.container_12 .prefix_6 {padding-left: 522px;}
.container_12 .prefix_7 {padding-left: 609px;}
.container_12 .prefix_8 {padding-left: 696px;}
.container_12 .prefix_9 {padding-left: 783px;}
.container_12 .prefix_10 {padding-left: 870px;}
.container_12 .prefix_11 {padding-left: 957px;}

/* =Suffix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .suffix_1 {padding-right: 87px;}
.container_12 .suffix_2 {padding-right: 174px;}
.container_12 .suffix_3 {padding-right: 261px;}
.container_12 .suffix_4 {padding-right: 348px;}
.container_12 .suffix_5 {padding-right: 435px;}
.container_12 .suffix_6 {padding-right: 522px;}
.container_12 .suffix_7 {padding-right: 609px;}
.container_12 .suffix_8 {padding-right: 696px;}
.container_12 .suffix_9 {padding-right: 783px;}
.container_12 .suffix_10 {padding-right: 870px;}
.container_12 .suffix_11 {padding-right: 957px;}

/* `Push Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .push_1 {left: 87px;}
.container_12 .push_2 {left: 174px;}
.container_12 .push_3 {left: 261px;}
.container_12 .push_4 {left: 348px;}
.container_12 .push_5 {left: 435px;}
.container_12 .push_6 {left: 522px;}
.container_12 .push_7 {left: 609px;}
.container_12 .push_8 {left: 696px;}
.container_12 .push_9 {left: 783px;}
.container_12 .push_10 {left: 870px;}
.container_12 .push_11 {left: 957px;}

/* `Pull Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .pull_1 {left: -87px;}
.container_12 .pull_2 {left: -174px;}
.container_12 .pull_3 {left: -261px;}
.container_12 .pull_4 {left: -348px;}
.container_12 .pull_5 {left: -435px;}
.container_12 .pull_6 {left: -522px;}
.container_12 .pull_7 {left: -609px;}
.container_12 .pull_8 {left: -696px;}
.container_12 .pull_9 {left: -783px;}
.container_12 .pull_10 {left: -870px;}
.container_12 .pull_11 {left: -957px;}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after {
	content: "\0020";
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
}
/*
The following zoom:1 rule is specifically for IE6 + IE7.
Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix {
	zoom: 1;
}

@media only screen 
and (min-width : 1025px) 
and (max-width : 1043px) {
/* =Containers
--------------------------------------------------------------------------------*/
.container_12
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}	


/* =Grid >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .grid_1 {width: 50px;}
.container_12 .grid_2 {width: 130px;}
.container_12 .grid_3 {width: 210px;}
.container_12 .grid_4 {width: 290px;}
.container_12 .grid_5 {width: 370px;}
.container_12 .grid_6 {width: 450px;}
.container_12 .grid_7 {width: 530px;}
.container_12 .grid_8 {width: 610px;}
.container_12 .grid_9 {width: 690px;}
.container_12 .grid_10 {width: 770px;}
.container_12 .grid_11 {width: 850px;}
.container_12 .grid_12 {width: 930px;}

/* =Prefix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .prefix_1 {padding-left: 80px;}
.container_12 .prefix_2 {padding-left: 160px;}
.container_12 .prefix_3 {padding-left: 240px;}
.container_12 .prefix_4 {padding-left: 320px;}
.container_12 .prefix_5 {padding-left: 400px;}
.container_12 .prefix_6 {padding-left: 480px;}
.container_12 .prefix_7 {padding-left: 560px;}
.container_12 .prefix_8 {padding-left: 640px;}
.container_12 .prefix_9 {padding-left: 720px;}
.container_12 .prefix_10 {padding-left: 800px;}
.container_12 .prefix_11 {padding-left: 880px;}

/* =Suffix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .suffix_1 {padding-right: 80px;}
.container_12 .suffix_2 {padding-right: 160px;}
.container_12 .suffix_3 {padding-right: 240px;}
.container_12 .suffix_4 {padding-right: 320px;}
.container_12 .suffix_5 {padding-right: 400px;}
.container_12 .suffix_6 {padding-right: 480px;}
.container_12 .suffix_7 {padding-right: 560px;}
.container_12 .suffix_8 {padding-right: 640px;}
.container_12 .suffix_9 {padding-right: 720px;}
.container_12 .suffix_10 {padding-right: 800px;}
.container_12 .suffix_11 {padding-right: 880px;}

/* `Push Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .push_1 {left: 80px;}
.container_12 .push_2 {left: 160px;}
.container_12 .push_3 {left: 240px;}
.container_12 .push_4 {left: 320px;}
.container_12 .push_5 {left: 400px;}
.container_12 .push_6 {left: 480px;}
.container_12 .push_7 {left: 560px;}
.container_12 .push_8 {left: 640px;}
.container_12 .push_9 {left: 720px;}
.container_12 .push_10 {left: 800px;}
.container_12 .push_11 {left: 880px;}

/* `Pull Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .pull_1 {left: -80px;}
.container_12 .pull_2 {left: -160px;}
.container_12 .pull_3 {left: -240px;}
.container_12 .pull_4 {left: -320px;}
.container_12 .pull_5 {left: -400px;}
.container_12 .pull_6 {left: -480px;}
.container_12 .pull_7 {left: -560px;}
.container_12 .pull_8 {left: -640px;}
.container_12 .pull_9 {left: -720px;}
.container_12 .pull_10 {left: -800px;}
.container_12 .pull_11 {left: -880px;}
}
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
/* =Containers
--------------------------------------------------------------------------------*/
.container_12
{
	margin-left: auto;
	margin-right: auto;
	width: 768px;
}	
	/* =Grid >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .grid_1 {width: 34px;}
.container_12 .grid_2 {width: 98px;}
.container_12 .grid_3 {width: 162px;}
.container_12 .grid_4 {width: 226px;}
.container_12 .grid_5 {width: 290px;}
.container_12 .grid_6 {width: 354px;}
.container_12 .grid_7 {width: 418px;}
.container_12 .grid_8 {width: 482px;}
.container_12 .grid_9 {width: 546px;}
.container_12 .grid_10 {width: 610px;}
.container_12 .grid_11 {width: 674px;}
.container_12 .grid_12 {width: 738px;}

/* =Prefix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .prefix_1 {padding-left: 64px;}
.container_12 .prefix_2 {padding-left: 128px;}
.container_12 .prefix_3 {padding-left: 192px;}
.container_12 .prefix_4 {padding-left: 256px;}
.container_12 .prefix_5 {padding-left: 320px;}
.container_12 .prefix_6 {padding-left: 384px;}
.container_12 .prefix_7 {padding-left: 448px;}
.container_12 .prefix_8 {padding-left: 512px;}
.container_12 .prefix_9 {padding-left: 576px;}
.container_12 .prefix_10 {padding-left: 640px;}
.container_12 .prefix_11 {padding-left: 704px;}

/* =Suffix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .suffix_1 {padding-right: 64px;}
.container_12 .suffix_2 {padding-right: 128px;}
.container_12 .suffix_3 {padding-right: 192px;}
.container_12 .suffix_4 {padding-right: 256px;}
.container_12 .suffix_5 {padding-right: 320px;}
.container_12 .suffix_6 {padding-right: 384px;}
.container_12 .suffix_7 {padding-right: 448px;}
.container_12 .suffix_8 {padding-right: 512px;}
.container_12 .suffix_9 {padding-right: 576px;}
.container_12 .suffix_10 {padding-right: 640px;}
.container_12 .suffix_11 {padding-right: 704px;}

/* `Push Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .push_1 {left: 64px;}
.container_12 .push_2 {left: 128px;}
.container_12 .push_3 {left: 192px;}
.container_12 .push_4 {left: 256px;}
.container_12 .push_5 {left: 320px;}
.container_12 .push_6 {left: 384px;}
.container_12 .push_7 {left: 448px;}
.container_12 .push_8 {left: 512px;}
.container_12 .push_9 {left: 576px;}
.container_12 .push_10 {left: 640px;}
.container_12 .push_11 {left: 704px;}

/* `Pull Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .pull_1 {left: -64px;}
.container_12 .pull_2 {left: -128px;}
.container_12 .pull_3 {left: -192px;}
.container_12 .pull_4 {left: -256px;}
.container_12 .pull_5 {left: -320px;}
.container_12 .pull_6 {left: -384px;}
.container_12 .pull_7 {left: -448px;}
.container_12 .pull_8 {left: -512px;}
.container_12 .pull_9 {left: -576px;}
.container_12 .pull_10 {left: -640px;}
.container_12 .pull_11 {left: -704px;}
	
}
@media only screen 
and (max-width : 768px) 
 {
/* =Containers
--------------------------------------------------------------------------------*/
.container_3, .container_12
{
	margin-left: auto;
	margin-right: auto;
	max-width: 480px;
}
/* =Grid >> 3 Columns
--------------------------------------------------------------------------------*/
.container_3 .grid_1, .container_12 .grid_1 {width: 130px;}
.container_3 .grid_2, .container_12 .grid_2  {width: 290px;}
.container_3 .grid_3, .container_12 .grid_3 {width: 450px;}
.container_12 .grid_4,
.container_12 .grid_5,
.container_12 .grid_6,
.container_12 .grid_7,
.container_12 .grid_8,
.container_12 .grid_9,
.container_12 .grid_10,
.container_12 .grid_11,
.container_12 .grid_12 { width:100%; box-sizing:border-box; -moz-sizing:border-box;}

/* =Prefix Extra Space >> 3 Columns
--------------------------------------------------------------------------------*/
.container_3 .prefix_1, .container_12 .prefix_1 {padding-left: 160px;}
.container_3 .prefix_2, .container_12 .prefix_2 {padding-left: 320px;}

/* =Suffix Extra Space >> 3 Columns
--------------------------------------------------------------------------------*/
.container_3 .suffix_1, .container_12 .suffix_1 {padding-right: 160px;}
.container_3 .suffix_2, .container_12 .suffix_2 {padding-right: 320px;}

/* `Push Space >> 3 Columns
--------------------------------------------------------------------------------*/
.container_3 .push_1, .container_12 .push_1 {left: 160px;}
.container_3 .push_2, .container_12 .push_2 {left: 320px;}
.container_12 .push_3, 
.container_12 .push_4, 
.container_12 .push_5, 
.container_12 .push_6, 
.container_12 .push_7, 
.container_12 .push_8, 
.container_12 .push_9, 
.container_12 .push_10, 
.container_12 .push_11 {left: 0;}

/* `Pull Space >> 3 Columns
--------------------------------------------------------------------------------*/
.container_3 .pull_1, .container_12 .pull_1 {left: -160px;}
.container_3 .pull_2, .container_12 .pull_2 {left: -320px;}


}